# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Temporary files
temp/

# PyInstaller
*.manifest
*.spec

# Environments
.env
.venv
env/
venv/
ENV/

# IDE settings
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log 

*venv
debug_images/*